.git
.gitignore
.pre-commit-config.yaml
README.md
__pycache__
*.pyc
*.pyo
.env
.venv
.envrc
.vscode
.idea
downloads
users.db
users.db-shm
users.db-wal
telegram-local-api/
config.yaml
.env.example
.mypy_cache
.ruff_cache
.idea/
